# Understanding Tuples in Python

### Introduction

Tuple is one of the 4 built-in data types in Python (other 3 are List, Sets and Dictionary) used to store collection of data. Just like in list, in tuple we can store multiple items in a single variable in an ordered manner. Unlike list, Tuples are immutable, meaning once created, their items cannot be changed. This distinct feature makes tuple useful for storing data that should remain constant throughout the program.

### Creating Tuples
Tuples can be created by placing comma-seperated sequence if values within parenthesis "()".

In [154]:
# Creating an empty tuple
empty_tuple = ()

# Creating a single element tuple
'''
To create a tuple with a single element, we must add a comma after the element
'''
single_element_tuple = (1,)

# Creating a tuple with mutiple element
multi_element_tuple = (2, 3, 4, 5, 5)

# Creating a muti-element tuple with different types of values
mixed_tuple = (5, "Hello", 3.75, True)

print("Empty Tuple:", empty_tuple)
print("Single Element Tuple:", single_element_tuple)
print("Multi-Element Tuple:", multi_element_tuple)
print("Mixed Tuple:", mixed_tuple)

Empty Tuple: ()
Single Element Tuple: (1,)
Multi-Element Tuple: (2, 3, 4, 5, 5)
Mixed Tuple: (5, 'Hello', 3.75, True)

### Accessing Tuple Elements
Tuple elements can be accessed using indexing and slicing just like in list.

##### Indexing (Positive & Negative)

In [155]:
first_element = mixed_tuple[0]
last_element = mixed_tuple[-1]

print("First Element:", first_element)
print(type(first_element))
print("--------------------------------")
print("Last Element:", last_element)
print(type(last_element))

First Element: 5
<class 'int'>
--------------------------------
Last Element: True
<class 'bool'>

##### Slicing

In [156]:
'''
We can return a subset of elements from a table by specifying a range of indices using colon ":" operator.
'''
sliced_tuple = multi_element_tuple[1:3]
print("Sliced Tuple:", sliced_tuple)
print("New tuple contains element from index 1 to 2 of its original tuple.")

Sliced Tuple: (3, 4)
New tuple contains element from index 1 to 2 of its original tuple.

### Tuple Operations
Due to its immutable nature, Tuple support a limited set of operations compared to lists. Given below are some key operations.

##### Concatenation: combining tuples using "+" operator

In [157]:
concatenated_tuple = multi_element_tuple + mixed_tuple
print("Concatenated Tuple:", concatenated_tuple)

Concatenated Tuple: (2, 3, 4, 5, 5, 5, 'Hello', 3.75, True)

##### Repetition: Repeating a tuple for specified number of times using "*" operator

In [158]:
result = mixed_tuple * 3
print(result)

(5, 'Hello', 3.75, True, 5, 'Hello', 3.75, True, 5, 'Hello', 3.75, True)

##### Membership Testing: If an element exists in a tuple using "in" keyword

In [159]:
result = 4 in multi_element_tuple
print("Is there 4 in multi_element_tuple?", result)

result = "World" in mixed_tuple
print("Is there a word 'World' in mixed_tuple?", result)

Is there 4 in multi_element_tuple? True
Is there a word 'World' in mixed_tuple? False

##### Length

In [160]:
length = len(single_element_tuple)
print("Number of elements in our single element tuple:",length)

Number of elements in our single element tuple: 1

### Tuple Methods
Tuples have a few built-in methods that allow us to perform specific operations.
Given below are most commonly used tuple methods.

##### count()
Returns the number of occurrences of a specified element in a tuple.

In [161]:
count = multi_element_tuple.count(2)
print("Count of 2 in multi-element tuple:", count)

count = multi_element_tuple.count(5)
print("Count of 5 in multi-element tuple:", count)

Count of 2 in multi-element tuple: 1
Count of 5 in multi-element tuple: 2

##### index()
Returns the index of the first occurence of a specified element in a tuple.

In [162]:
idx = mixed_tuple.index(3.75)
print("Index of 3.75 in mixed tuple:", idx)

Index of 3.75 in mixed tuple: 2

##### len()
Returns the number of elements in a tuple.

In [163]:
single_element_tuple_len = len(single_element_tuple)
print("Length of single element tuple:", single_element_tuple_len)

multi_element_tuple_len = len(multi_element_tuple)
print("Length of multi-element tuple:", multi_element_tuple_len)

mixed_tuple_len = len(mixed_tuple)
print("Length of mixed tuple:", mixed_tuple_len)

Length of single element tuple: 1
Length of multi-element tuple: 5
Length of mixed tuple: 4

##### min()
Returns the smallest element in a tuple.

In [164]:
min_value = min(multi_element_tuple)
print("Smallest value in multi-element tuple:", min_value)

Smallest value in multi-element tuple: 2

##### max()
Returns the largest element in a tuple.

In [165]:
max_value = max(multi_element_tuple)
print("Largest value in multi-element tuple:", max_value)

Largest value in multi-element tuple: 5

##### tuple()
Converts an iterable object into a tuple.

In [166]:
my_list = [1, 2, 3, 4, 5]
my_tuple = tuple(my_list)
print(type(my_tuple))

<class 'tuple'>

### Use Cases for Tuples
##### 1. **Data Integrity**: Since tuples are immutable, they can be used to store data that should not change.
##### 2. **Unpacking**: Tuples can be used for unpacking data easily.
##### 3. **Dictionary Keys**: Tuples can be used as keys in dictionaries because they are hashable.
##### 4. **Multiple Return Values**: Functions can return multiple values using tuples.

# Understanding Dictionary in Python

### Introduction
Unlike tuples and lists, which store items in an ordered manner, dictionaries store data in key-value pairs. Each key is unique and acts as an identifier for its corresponding value, allowing for efficient data retrieval. Dictionaries are mutable, meaning we can add, remove, or change items after the dictionary has been created. This flexibility makes dictionaries useful for scenarios where we need to map values with unique identifiers, such as storing user information, configuration settings etc.

### Creating Dictionary

In [167]:
student = {
    "name": "Prajwol",
    "age": 23,
    "city": "Kathmandu"
}

print(type(student))
print(student)

<class 'dict'>
{'name': 'Prajwol', 'age': 23, 'city': 'Kathmandu'}

### Accessing Elements

In [168]:
# Accessing values by key
name = student["name"]
print("Name on a student:", name)

Name on a student: Prajwol

In [169]:
# Accessing using get() method
name = student.get("name")
city = student.get("city")
print(f"{name} lives in {city}")

Prajwol lives in Kathmandu

### Iterating through a Dictionary

In [170]:
# Keys
for key in student:
    print(key)

name
age
city

In [171]:
# Values
for value in student.values():
    print(value)

Prajwol
23
Kathmandu

In [172]:
# Key-Value Pairs
for key, value in student.items():
    print(f"{key}: {value}")

name: Prajwol
age: 23
city: Kathmandu

### Dictionary Operations

In [173]:
# Adding or updating key-value pairs

student["Gender"] = "Male"  # adding a new key-value pair
student["age"] = 30

for key, value in student.items():  # updating an existing key's value
    print(f"{key}: {value}")

name: Prajwol
age: 30
city: Kathmandu
Gender: Male

In [174]:
# Removing Key-Value Pairs

if "age" not in student: # checking for key existence
    print("Age is already deleted")
else:
    del student["age"]  # removes the key 'age'

city = student.pop("city")  # removes 'city' and returns its value

print(city)

Kathmandu

In [175]:
# Merging Dictionaries

dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

dict1.update(dict2)          # Merges dict2 into dict1
# or
merged_dict = dict1 | dict2  # Creates a new merged dictionary

print(dict1)
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}
{'a': 1, 'b': 3, 'c': 4}

# Use Cases for Dictionaries
1. **Data Storage**: Store user information as key-value pairs.
2. **Configuration Settings**: Hold app settings for easy modification.
3. **Count Frequencies**: Count occurrences of items (e.g., word frequency).
4. **Lookup Tables**: Quickly retrieve values based on keys (e.g., abbreviations).
5. **Caching**: Store results of expensive function calls.
6. **Grouping Data**: Collect related data (e.g., books and authors).
7. **Data Validation**: Validate inputs against accepted values.
8. **Dynamic Data Structures**: Create complex nested structures.
9. **Event Handling**: Map events to their handlers.
10. **Mapping IDs**: Link unique identifiers to objects or records.